body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51,45,44);

}

.Calculator{
    width: 279px;
    height: 375px;
    background-image: linear-gradient(221deg, #262626 0%, #1B1B1B 37.24%, #000 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.ResultScreen{
    width: 225px;
    height: 72px;
    font-size: 25px;
    padding: 4px 7px 4px; 
    border-radius: 5px;
    background: #36373C;
    color: white;

}

.Buttons { 
    width: 232px;
    display: flex;
    flex-wrap: wrap;
}

Button {
    border-radius: 50.243px;
    background: #131313;
    box-shadow: 0px 3px 6px 0px rgba(89, 89, 89, 0.25) inset, 0px -5px 3px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    color: rgb(255,255,255);
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 4px;

}

Button:hover {
    background-color: red;
}

Button:focus {
    background-color: brown;
}

#equals {
    border-radius: 50.243px;
    background: #CFCECE;
    box-shadow: 0px 5px 8px 0px #FFF inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: black;
}


#equals:hover {
    background-color: red;
}

#equals:focus {
    background-color: brown;

}


#clear {
    background-color: cyan;
    color: black;
}

#clear:hover {
    background-color: red;
}

#clear:focus {
    background-color: brown;

}

#plus {
    border-radius: 50.243px;
    background: #CFCECE;
    box-shadow: 0px 5px 8px 0px #FFF inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: black;
    }

#plus:hover {
    background-color: red;
}

#plus:focus {
    background-color: brown;
}

#subtract {
    border-radius: 50.243px;
    background: #CFCECE;
    box-shadow: 0px 5px 8px 0px #FFF inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: black;
}

#subtract:hover {
    background-color: red;
}

#subtract:focus {
    background-color: brown;

}

#multiply {
    border-radius: 50.243px;
    background: #CFCECE;
    box-shadow: 0px 5px 8px 0px #FFF inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: black;
}

#multiply:hover {
    background-color: red;
}

#multiply:focus {
    background-color: brown;

}

#division {
    border-radius: 50.243px;
    background: #CFCECE;
    box-shadow: 0px 5px 8px 0px #FFF inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: black;
}

#division:hover {
    background-color: red;
}

#division:focus {
    background-color: brown;
}
